@import "../../../../global.scss";

ion-textarea, ion-input {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

h2 {
    color: #737373;
}

form-field-custom-control-example div {
    margin-top: -1em;
}

button:disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}