<ion-content>
  <ion-tabs>
    <ion-tab-bar slot = "bottom">
      <ion-tab-button tab="dashboard">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-label>Search for Doctors</ion-label>
        <ion-icon name="medkit-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab = "appointments">
        <ion-label>Appointments</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab = "health-records">
        <ion-label>Health Records</ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
