@import "../../../global.scss";

ion-title {
    text-align: center;
    padding-inline: 0;
    padding-left: 3.2em;
    margin-top: 14px;
}

ion-select::part(icon) {
    display: none !important;
}

.top-menu {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    width: fit-content;
    float: right;
    ion-item {
        margin: 0;
    }
    ion-item::part(native) {
        background-color: var(--primary);
        border-bottom: none;
        border-radius: 50%;
        padding-left: 0;
    }
    ion-icon {
        color: white;
    }
}

ion-item {
    --background-hover: none;
}

.requestBtn {
    margin-top: 0 !important;
    margin-bottom: 3em !important;
}

.requestForm, .patientRecords {
    margin-left: 1em;
    margin-right: 1em;
}

ion-accordion {
    margin-bottom: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    ion-item {
        margin: 0px !important;
    }
}

ion-accordion.accordion-expanded ion-item[slot="header"] {
    background-color: var(--surface-variant) !important;
}

.multiple-info {
    font-size: 16px;
    text-decoration: underline;
}

.info-row {
    margin-bottom: 3em;
}

h4 {
    margin-bottom: 6px;
}