<ion-tabs>
  <ion-tab-bar slot = "bottom">
     <ion-tab-button tab = "dashboard">
      <ion-label>Dashboard</ion-label>
      <ion-icon name="clipboard-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-label>Search for Patients</ion-label>
        <ion-icon name="medkit-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab = "patient-records">
        <ion-label>Patient Records</ion-label>
        <ion-icon name="document-lock-outline"></ion-icon>
        </ion-tab-button>
   </ion-tab-bar >
 </ion-tabs>